version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/functions"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    labels:
      - "security"
      - "dependencies"
    commit-message:
      prefix: "security"
      include: "scope"